*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header-content {
    width: 1520px;
    margin: auto;
    /* border: 2px solid black; */
    
}
.header-heding-box {
    width: 90%;
      margin: auto;
       /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-heding {
    color: #24DC9F;
}
.fa-regular {
}
.fa-circle {
}
.header-list-box{
    display: flex;
}
.header-list {
     display: flex;
     align-items: center;
     justify-content: space-between;
     list-style-type: none;
     gap: 20px;
     color: gray;
}
.header-btn-box {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
   
}
.header-btn {


   
}
.header-btn2{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    text-align: center;
    background-color: red;
    border: 0;
    border-radius: 6px;
    color: white;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1220px;
  margin: auto;
  user-select: all;
}
.section1_LeftBox {
}
.section1_heading {
  line-height: 50px;
}
.section1_heading_green{
  color: rgb(5, 238, 133); 
}
.section1_headingInfo {
  color: gray;
  margin-top: 20px;
}
.input {
  display: flex;
  width: 320px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px  gray;
  margin-top: 20px;
  justify-content: space-between;
  
}
.input_123{
  border: none;
  padding-left: 20px;
  outline: none;
  width: 245px;
}
.input_send {
  background-color: brown;
  font-size: 15px;
  font-weight: 100;
  padding: 10px 20px;
  color: white;
  border-radius: 6px;
}
.input_send:hover{
 background-color: rgb(137, 47, 47);
}
.brands {
 display: flex;
 width: 250px;
 gap: 20px;
 line-height: 20px;
 align-items: center;
 margin-top: 50px;
}
.google {
  display: flex;
}
.google_info{
  font-size: 5px;
  align-content:center;
  color: gray;
  font-weight: 100;
  line-height: 12.5px;
}
.fa-google-play{
  font-size: 20px;
  align-content: center;
  color: gray;
}
.apple {
  display: flex;
  margin-left: -1px
}
.apple_info{
  font-size: 5px;
  align-content:center;
  color: gray;
  font-weight: 100;
  line-height: 12.5px;
}
.fa-apple{
  font-size: 20px;
  align-content: center;
  color: gray;
}
.section1_RightBox {
  
}
.section1_img {
}
.imgs_top_dote {
  border-radius: 50%;
  color: aqua;
}
.imgs_bottom_dote {

}